<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<ActionBar title="" icon="" class="action-bar">
  <NavigationButton *ngIf="isAndroid === true"
    [icon]="isOpenSidedrawer === true ? 'font://&#xf00d;' : 'font://&#xf0c9;'" class="fas fas-size"
    (tap)="showDrawer()">
  </NavigationButton>
  <Image class="ABImage" src="~/assets/login/_logo.png"></Image>
  <ActionItem *ngIf="isIOS === true" [icon]="isOpenSidedrawer === true ? 'font://&#xf00d;' : 'font://&#xf0c9;'"
    class="fas fas-size" ios.position="left" (tap)="showDrawer()"></ActionItem>
</ActionBar>
<RadSideDrawer [drawerTransition]="sideDrawerTransition" (drawerClosing)="isOpenSidedrawer = false">
  <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
    <StackLayout row="0" class="nt-drawer__header" backgroundColor="#fff">
      <!-- <Image class="nt-drawer__header-image" src="~/assets/login/_logo.png"></Image> -->
      <Label class="nt-drawer__header-brand"
        [text]="dataClientArr.nombre + ' ' + dataClientArr.paterno + ' ' + dataClientArr.materno" color="#000"></Label>
      <Label class="nt-drawer__header-footnote" [text]="dataClientArr.correo" color="#5E5E5E"></Label>
    </StackLayout>

    <ScrollView row="1" class="nt-drawer__body">
      <StackLayout>
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container')">
          <Label col="0" text="&#xf07c;" class="nt-icon fas"></Label>
          <Label col="1" text="Mis Pólizas" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/profile')">
          <Label col="0" text="&#xf2bd;" class="nt-icon fas"></Label>
          <Label col="1" text="Mi perfil" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/support')">
          <Label col="0" text="&#xf0a6;" class="nt-icon fas"></Label>
          <Label col="1" text="Atención a Clientes" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/logout')">
          <Label col="0" text="&#xf2f5;" class="nt-icon fas"></Label>
          <Label col="1" text="Cerrar Sesión" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>
  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>