<ActionBar title="Solicitudes" icon="" class="action-bar">
    <NavigationButton icon="font://&#xf060;" class="fas fas-size" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout height="100%" width="90%" marginTop="20">
    <ScrollView>
        <StackLayout>

            <!-- INSTRUCCIONES DE PAAGO -->
            <StackLayout class="app-accordion">
                <StackLayout class="hr"> </StackLayout>
                <GridLayout rows="30, *" columns="*, 30" class="accordion">
                    <Label (tap)="actionAccordion(1)" class="accordionTitle" text="Instrucciones de pago" row="0"
                        col="0" textWrap="true"></Label>
                    <Label [text]="isAccordionOpen && idToOpen === 1 ? '&#xf077;' : '&#xf078;'"
                        class="fas accordionIcon" row="0" col="1" textWrap="true" (tap)="actionAccordion(1)"></Label>
                    <StackLayout row="1" col="0" *ngIf="isAccordionOpen && idToOpen === 1" class="accordionParagraph">
                        <!-- #region -->
                        <Label
                            text='Estimado asegurado a continuación se mostrará las opciones para el pago de su póliza, le pedimos seleccionar su aseguradora y ubicar la cuenta concentradora del banco de su elección.'
                            textWrap="true" marginBottom="5">
                        </Label>
                        <!-- #endregion -->
                        <!-- #region -->
                        <Label textWrap="true" marginBottom="5">
                            <FormattedString>
                                <span
                                    text="Una vez concluido el pago, le pedimos por favor enviar el comprobante de pago legible al siguiente clave de correo junto con el número de su póliza;"></span>
                                <span fontWeight="bold" color="#4d8cff"
                                    text=" asistenciapagos@ahorraseguros.mx."></span>
                            </FormattedString>
                        </Label>
                        <!-- #endregion -->
                        <!-- #region -->
                        <Label textWrap="true">
                            <FormattedString>
                                <span
                                    text="Si deseas asesoría en relación a cómo realizar la operación, por favor comunicate al "></span>
                            </FormattedString>
                        </Label>
                        <Label text="" textWrap="true" (tap)="call('5536024275')">
                            <FormattedString>
                                <span fontWeight="bold" class="fas" text="&#xf095;   5536024275"></span>
                            </FormattedString>
                        </Label>
                        <Label text="" textWrap="true" marginBotton="5">
                            <FormattedString>
                                <span text=" opción 2 donde con gusto te atenderemos."></span>
                            </FormattedString>
                        </Label>
                        
                        
                        <!-- #endregion -->
                        <!-- #region -->
                        <Label class="title-lbl" text="Selecciona tu Aseguradora" textWrap="true"></Label>
                        <!-- #region nota1-->
                        <Label textWrap="true">
                            <FormattedString>
                                <span color="#000" fontWeight="bold" text="Nota 1: "></span>
                                <span text="Al seleccionar la aseguradora deberá salir la siguiente leyenda:"></span>
                            </FormattedString>
                        </Label>
                        <Label textWrap="true" marginBottom="5">
                            <FormattedString>
                                <span fontStyle="italic" text="Recuerda compartirnos tu comprobante de pago"></span>
                            </FormattedString>
                        </Label>
                        <!-- #endregion nota1-->
                        <!-- #region nota2-->
                        <Label textWrap="true">
                            <FormattedString>
                                <span color="#000" fontWeight="bold" text="Nota 2: "></span>
                                <span
                                    text="Al seleccionar la aseguradora que no tiene cuenta concentradora se abre el siguiente mensaje:"></span>
                            </FormattedString>
                        </Label>
                        <Label textWrap="true">
                            <FormattedString>
                                <span fontStyle="italic"
                                    text="Lo sentimos, la aseguradora está en proceso de renovar las cuentas por favor comunicate con nosotros"></span>
                            </FormattedString>
                        </Label>
                        <!-- #endregion nota2-->
                        <!-- #endregion -->
                    </StackLayout>
                </GridLayout>
                <StackLayout class="hr"> </StackLayout>
            </StackLayout>

            <!-- CATÁLOGO DE FACTURACIÓN -->
            <StackLayout class="app-accordion">
                <StackLayout class="hr"> </StackLayout>
                <GridLayout rows="30, *" columns="*, 30" class="accordion">
                    <Label (tap)="actionAccordion(2)" class="accordionTitle" text="Catálogo de Facturación" row="0"
                        col="0" textWrap="true"></Label>
                    <Label [text]="isAccordionOpen && idToOpen === 2 ? '&#xf077;' : '&#xf078;'"
                        class="fas accordionIcon" row="0" col="1" textWrap="true" (tap)="actionAccordion(2)"></Label>
                    <StackLayout row="1" col="0" *ngIf="isAccordionOpen && idToOpen === 2" class="accordionParagraph">
                        <Label textWrap="true" marginBottom="5">
                            <FormattedString>
                                <span
                                    text="Estimado asegurado, para solicitar tu factura por favor envíanos un correo a la siguiente clave de correo:"></span>
                                <span fontWeight="bold" color="#4d8cff"
                                    text=" asistenciapagos@ahorraseguros.mx."></span>
                            </FormattedString>
                        </Label>
                        <Label class="title-lbl" text="Por favor envía la solicitud con los siguientes datos:"
                            textWrap="true"></Label>
                        <!-- #region nota1-->
                        <Label textWrap="true">
                            <FormattedString>
                                <span text="Nombre completo"></span>
                            </FormattedString>
                        </Label>
                        <Label textWrap="true">
                            <FormattedString>
                                <span text="Número de póliza"></span>
                            </FormattedString>
                        </Label>
                        <Label textWrap="true">
                            <FormattedString>
                                <span text="Nombre de tu aseguradora"></span>
                            </FormattedString>
                        </Label>
                        <Label textWrap="true">
                            <FormattedString>
                                <span text="Teléfono de contacto"></span>
                            </FormattedString>
                        </Label>
                        <Label textWrap="true" marginBottom="5">
                            <FormattedString>
                                <span
                                    text="Es importante que valides que tu RFC esté correcto en la póliza, en caso de tener una observación selecciona “modificar póliza existente” dentro del menú de opciones"></span>
                            </FormattedString>
                        </Label>
                    </StackLayout>
                </GridLayout>
                <StackLayout class="hr"> </StackLayout>
            </StackLayout>

            <!-- IDENTIFICACION OFICIAL -->
            <StackLayout class="app-accordion">
                <StackLayout class="hr"> </StackLayout>
                <GridLayout rows="30, *" columns="*, 30" class="accordion">
                    <Label (tap)="actionAccordion(3)" class="accordionTitle" text="Identificación oficial" row="0"
                        col="0" textWrap="true"></Label>
                    <Label [text]="isAccordionOpen && idToOpen === 3 ? '&#xf077;' : '&#xf078;'"
                        class="fas accordionIcon" row="0" col="1" textWrap="true" (tap)="actionAccordion(3)"></Label>
                    <StackLayout row="1" col="0" *ngIf="isAccordionOpen && idToOpen === 3" class="accordionParagraph">
                        <StackLayout row="1" col="0" *ngIf="isAccordionOpen && idToOpen === 3">
                            <Label class="title-lbl" text="¿Qué documentos son válidos para que pueda cargar la app?"
                                textWrap="true"></Label>
                            <Label textWrap="true" marginBottom="5">
                                <FormattedString>
                                    <span text="Los documentos válidos como identificación oficial son:"></span>
                                </FormattedString>
                            </Label>
                            <Label textWrap="true">
                                <FormattedString>
                                    <span text="INE"></span>
                                </FormattedString>
                            </Label>
                            <Label textWrap="true">
                                <FormattedString>
                                    <span text="Pasaporte Vigente"></span>
                                </FormattedString>
                            </Label>
                            <Label textWrap="true">
                                <FormattedString>
                                    <span text="Cédula profesional"></span>
                                </FormattedString>
                            </Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
                <StackLayout class="hr"> </StackLayout>
            </StackLayout>

            <!-- INSPECCIáN VEHICULAR -->
            <StackLayout class="app-accordion">
                <StackLayout class="hr"> </StackLayout>
                <GridLayout rows="30, *" columns="*, 30" class="accordion">
                    <Label (tap)="actionAccordion(4)" class="accordionTitle" text="Inspección vehicular" row="0" col="0"
                        textWrap="true"></Label>
                    <Label [text]="isAccordionOpen && idToOpen === 4 ? '&#xf077;' : '&#xf078;'"
                        class="fas accordionIcon" row="0" col="1" textWrap="true" (tap)="actionAccordion(4)"></Label>
                    <StackLayout row="1" col="0" *ngIf="isAccordionOpen && idToOpen === 4" class="accordionParagraph">
                        <Label class="title-lbl" text="¡Ayúdanos a concretar tu inspección vehicular!"
                            textWrap="true"></Label>
                        <Label textWrap="true" marginBottom="5">
                            <FormattedString>
                                <span text="¿Qué es una inspección vehicular?"></span>
                            </FormattedString>
                        </Label>
                        <Label textWrap="true">
                            <FormattedString>
                                <span text="Es un requisito "></span>
                                <span fontWeight="bold" text="imprescindible "></span>
                                <span
                                    text="para la contratación de tu seguro de auto, este proceso valida el estatus general de tu unidad con el fin de garantizar la protección del mismo durante la vigencia de la póliza y así poder brindarte un mejor servicio en caso de tener algún tipo de siniestro."></span>
                            </FormattedString>
                        </Label>

                        <Label textWrap="true">
                            <FormattedString>
                                <span text="1- Valida que hayas recibido un mensaje vía "></span>
                                <span fontWeight="bold" text="SMS y correo electrónico "></span>
                                <span
                                    text="con la liga de inspección vehicular, en caso de no ser así, comunícate con nosotros al "></span>
                            </FormattedString>
                        </Label>
                        <Label textWrap="true" (tap)="call('5536024275')">
                            <FormattedString>
                                <span fontWeight="bold" class="fas" text="&#xf095;   5536024275"></span>
                            </FormattedString>
                        </Label>
                        <Label textWrap="true" marginBottom="5">
                            <FormattedString>
                                <span text="opción 6 donde con gusto te atenderemos. "></span>
                            </FormattedString>
                        </Label>

                        <Label textWrap="true">
                            <FormattedString>
                                <span text="2- Sigue los siguientes pasos: "></span>
                            </FormattedString>
                        </Label>

                        <Gif src="~/assets/gifs/gif-image.gif" [height]=" isAndroid ? 350 : 250"></Gif>

                        <Label textWrap="true">
                            <FormattedString>
                                <span fontWeight="bold" text="Recuerda "></span>d
                                <span text="concluir el proceso dentro de los primeros "></span>
                                <span fontWeight="bold" color="red" text="5 días naturales "></span>
                                <span text="después de haber recibido la liga de inspección vehicular, "></span>
                                <span fontWeight="bold" text="evita contratiempos. "></span>
                            </FormattedString>
                        </Label>
                    </StackLayout>
                </GridLayout>
                <StackLayout class="hr"> </StackLayout>
            </StackLayout>

            <!-- ACLARACION Y SUGERENCIAS -->
            <StackLayout class="app-accordion">
                <StackLayout class="hr"> </StackLayout>
                <GridLayout rows="30, *" columns="*, 30" class="accordion">
                    <Label (tap)="actionAccordion(5)" class="accordionTitle" text="Aclaración y sugerencias" row="0"
                        col="0" textWrap="true"></Label>

                    <Label [text]="isAccordionOpen && idToOpen === 5 ? '&#xf077;' : '&#xf078;'"
                        class="fas accordionIcon" row="0" col="1" textWrap="true" (tap)="actionAccordion(5)"></Label>
                    <StackLayout row="1" col="0" *ngIf="isAccordionOpen && idToOpen === 5" class="accordionParagraph">
                        <Label textWrap="true" marginBottom="5">
                            <FormattedString>
                                <span text="Si necesita alguna aclaración o tiene sugerencias con relación a tu póliza marca: "></span>
                            </FormattedString>
                        </Label>
                        <Label (tap)="call('5588902464')" class="colorResalt fas" text="&#xf095;   55 8890 2464" textWrap="true"></Label>
                    </StackLayout>
                </GridLayout>
                <StackLayout class="hr"> </StackLayout>
            </StackLayout>

            <!-- CANCELAR UNA POLIZA -->
            <StackLayout class="app-accordion">
                <StackLayout class="hr"> </StackLayout>
                <GridLayout rows="30, *" columns="*, 30" class="accordion">
                    <Label (tap)="actionAccordion(6)" class="accordionTitle" text="Cancelar una póliza" row="0" col="0"
                        textWrap="true"></Label>
                    <Label [text]="isAccordionOpen && idToOpen === 6 ? '&#xf077;' : '&#xf078;'"
                        class="fas accordionIcon" row="0" col="1" textWrap="true" (tap)="actionAccordion(6)"></Label>
                    <StackLayout row="1" col="0" *ngIf="isAccordionOpen && idToOpen === 6" class="accordionParagraph">

                        <Label textWrap="true" marginBottom="5">
                            <FormattedString>
                                <span text="Comuníquese a nuestra linea donde será atendido marcando la opcioón 5"></span>
                            </FormattedString>
                        </Label>
                        <Label (tap)="call('5536024275')" class="colorResalt fas" text="&#xf095;   55 3602 4275" textWrap="true"></Label>
                    </StackLayout>
                </GridLayout>
                <StackLayout class="hr"> </StackLayout>
            </StackLayout>

            <!-- EN CASO DE SINIESTROS -->
            <StackLayout class="app-accordion">
                <StackLayout class="hr"> </StackLayout>
                <GridLayout rows="30, *" columns="*, 30" class="accordion">
                    <Label (tap)="actionAccordion(7)" class="accordionTitle" text="En caso de siniestros" row="0"
                        col="0" textWrap="true"></Label>
                    <Label [text]="isAccordionOpen && idToOpen === 7 ? '&#xf077;' : '&#xf078;'"
                        class="fas accordionIcon" row="0" col="1" textWrap="true" (tap)="actionAccordion(7)"></Label>
                    <StackLayout row="1" col="0" *ngIf="isAccordionOpen && idToOpen === 7">
                        <!-- <siniestros-app></siniestros-app> -->

                        <ListView [items]="images" class="list-group" height="3200">
                            <ng-template let-item="item" let-odd="odd" let-even="even">
                                <StackLayout class="card">
                                    <StackLayout class="insureImage">
                                        <Image [src]="'~/assets/iconos-aseguradoras/' + item.name"></Image> 
                                    </StackLayout>
                                    <StackLayout class="insureName">
                                        <Label text="En caso de siniestro llame al:" textWrap="true"></Label>
                                        <Label textWrap="true" (tap)="call(item.phone)">
                                            <FormattedString>
                                                <span class="fas" text="&#xf095;  {{item.tel}}"></span>
                                            </FormattedString>
                                        </Label>
                                    </StackLayout>
                                </StackLayout>
                            </ng-template>
                        </ListView>

                    </StackLayout>
                </GridLayout>
                <StackLayout class="hr"> </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>